<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Art Gallery</title>

<link rel="canonical" href="https://hoasihoanganh.com">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header class="header">
    <div class="logo">My Gallery</div>

    <nav>
        <a href="/?lang={{ lang }}">Home</a>
        <a href="/gallery?lang={{ lang }}">Gallery</a>
        <a href="/contact?lang={{ lang }}">Contact</a>
    </nav>

    <div class="lang">
        <a href="?lang=en">EN</a> |
        <a href="?lang=vi">VI</a>
    </div>
</header>

{% block content %}{% endblock %}

<!-- Zalo button -->
<a href="https://zalo.me/+84939742254" target="_blank" class="zalo-button">
    Chat Zalo
</a>

<div id="inquiryModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeInquiry()">&times;</span>

    <h2 id="modalTitle">Inquiry</h2>

    <input type="text" id="name" placeholder="Your name">
    <input type="text" id="phone" placeholder="Phone">
    <input type="email" id="email" placeholder="Email">
    
    <textarea id="message" placeholder="Message"></textarea>

    <input type="hidden" id="painting">

    <button onclick="submitInquiry()">Send</button>
  </div>
</div>
</body>
</html>